<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnjoying.justice.ecrm.db.mapper.TblEdgeComputeGpuInfoMapper">
  <resultMap id="BaseResultMap" type="com.lnjoying.justice.ecrm.db.model.TblEdgeComputeGpuInfo">
    <id column="gpu_id" jdbcType="VARCHAR" property="gpuId" />
    <result column="gpu_type" jdbcType="VARCHAR" property="gpuType" />
    <result column="gpu_model" jdbcType="VARCHAR" property="gpuModel" />
    <result column="driver_version" jdbcType="VARCHAR" property="driverVersion" />
    <result column="cuda_version" jdbcType="VARCHAR" property="cudaVersion" />
    <result column="cudnn_version" jdbcType="VARCHAR" property="cudnnVersion" />
    <result column="node_id" jdbcType="VARCHAR" property="nodeId" />
    <result column="index" jdbcType="INTEGER" property="index" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="ref_id" jdbcType="VARCHAR" property="refId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    gpu_id, gpu_type, gpu_model, driver_version, cuda_version, cudnn_version, node_id, 
    index, status, ref_id, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.lnjoying.justice.ecrm.db.model.TblEdgeComputeGpuInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_edge_compute_gpu_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_edge_compute_gpu_info
    where gpu_id = #{gpuId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tbl_edge_compute_gpu_info
    where gpu_id = #{gpuId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.lnjoying.justice.ecrm.db.model.TblEdgeComputeGpuInfoExample">
    delete from tbl_edge_compute_gpu_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lnjoying.justice.ecrm.db.model.TblEdgeComputeGpuInfo">
    insert into tbl_edge_compute_gpu_info (gpu_id, gpu_type, gpu_model, 
      driver_version, cuda_version, cudnn_version, 
      node_id, index, status, 
      ref_id, create_time, update_time
      )
    values (#{gpuId,jdbcType=VARCHAR}, #{gpuType,jdbcType=VARCHAR}, #{gpuModel,jdbcType=VARCHAR}, 
      #{driverVersion,jdbcType=VARCHAR}, #{cudaVersion,jdbcType=VARCHAR}, #{cudnnVersion,jdbcType=VARCHAR}, 
      #{nodeId,jdbcType=VARCHAR}, #{index,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{refId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lnjoying.justice.ecrm.db.model.TblEdgeComputeGpuInfo">
    insert into tbl_edge_compute_gpu_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gpuId != null">
        gpu_id,
      </if>
      <if test="gpuType != null">
        gpu_type,
      </if>
      <if test="gpuModel != null">
        gpu_model,
      </if>
      <if test="driverVersion != null">
        driver_version,
      </if>
      <if test="cudaVersion != null">
        cuda_version,
      </if>
      <if test="cudnnVersion != null">
        cudnn_version,
      </if>
      <if test="nodeId != null">
        node_id,
      </if>
      <if test="index != null">
        index,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="refId != null">
        ref_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gpuId != null">
        #{gpuId,jdbcType=VARCHAR},
      </if>
      <if test="gpuType != null">
        #{gpuType,jdbcType=VARCHAR},
      </if>
      <if test="gpuModel != null">
        #{gpuModel,jdbcType=VARCHAR},
      </if>
      <if test="driverVersion != null">
        #{driverVersion,jdbcType=VARCHAR},
      </if>
      <if test="cudaVersion != null">
        #{cudaVersion,jdbcType=VARCHAR},
      </if>
      <if test="cudnnVersion != null">
        #{cudnnVersion,jdbcType=VARCHAR},
      </if>
      <if test="nodeId != null">
        #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="index != null">
        #{index,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="refId != null">
        #{refId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lnjoying.justice.ecrm.db.model.TblEdgeComputeGpuInfoExample" resultType="java.lang.Long">
    select count(*) from tbl_edge_compute_gpu_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_edge_compute_gpu_info
    <set>
      <if test="record.gpuId != null">
        gpu_id = #{record.gpuId,jdbcType=VARCHAR},
      </if>
      <if test="record.gpuType != null">
        gpu_type = #{record.gpuType,jdbcType=VARCHAR},
      </if>
      <if test="record.gpuModel != null">
        gpu_model = #{record.gpuModel,jdbcType=VARCHAR},
      </if>
      <if test="record.driverVersion != null">
        driver_version = #{record.driverVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.cudaVersion != null">
        cuda_version = #{record.cudaVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.cudnnVersion != null">
        cudnn_version = #{record.cudnnVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.nodeId != null">
        node_id = #{record.nodeId,jdbcType=VARCHAR},
      </if>
      <if test="record.index != null">
        index = #{record.index,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.refId != null">
        ref_id = #{record.refId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_edge_compute_gpu_info
    set gpu_id = #{record.gpuId,jdbcType=VARCHAR},
      gpu_type = #{record.gpuType,jdbcType=VARCHAR},
      gpu_model = #{record.gpuModel,jdbcType=VARCHAR},
      driver_version = #{record.driverVersion,jdbcType=VARCHAR},
      cuda_version = #{record.cudaVersion,jdbcType=VARCHAR},
      cudnn_version = #{record.cudnnVersion,jdbcType=VARCHAR},
      node_id = #{record.nodeId,jdbcType=VARCHAR},
      index = #{record.index,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      ref_id = #{record.refId,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lnjoying.justice.ecrm.db.model.TblEdgeComputeGpuInfo">
    update tbl_edge_compute_gpu_info
    <set>
      <if test="gpuType != null">
        gpu_type = #{gpuType,jdbcType=VARCHAR},
      </if>
      <if test="gpuModel != null">
        gpu_model = #{gpuModel,jdbcType=VARCHAR},
      </if>
      <if test="driverVersion != null">
        driver_version = #{driverVersion,jdbcType=VARCHAR},
      </if>
      <if test="cudaVersion != null">
        cuda_version = #{cudaVersion,jdbcType=VARCHAR},
      </if>
      <if test="cudnnVersion != null">
        cudnn_version = #{cudnnVersion,jdbcType=VARCHAR},
      </if>
      <if test="nodeId != null">
        node_id = #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="index != null">
        index = #{index,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="refId != null">
        ref_id = #{refId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where gpu_id = #{gpuId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lnjoying.justice.ecrm.db.model.TblEdgeComputeGpuInfo">
    update tbl_edge_compute_gpu_info
    set gpu_type = #{gpuType,jdbcType=VARCHAR},
      gpu_model = #{gpuModel,jdbcType=VARCHAR},
      driver_version = #{driverVersion,jdbcType=VARCHAR},
      cuda_version = #{cudaVersion,jdbcType=VARCHAR},
      cudnn_version = #{cudnnVersion,jdbcType=VARCHAR},
      node_id = #{nodeId,jdbcType=VARCHAR},
      index = #{index,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      ref_id = #{refId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where gpu_id = #{gpuId,jdbcType=VARCHAR}
  </update>
</mapper>