<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnjoying.justice.ecrm.db.mapper.TblLabelOptionInfoMapper">
  <resultMap id="BaseResultMap" type="com.lnjoying.justice.ecrm.db.model.TblLabelOptionInfo">
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="label_type" jdbcType="VARCHAR" property="labelType" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="label_option" jdbcType="VARCHAR" property="labelOption" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    key, label_type, type, label_option, order_num
  </sql>
  <select id="selectByExample" parameterType="com.lnjoying.justice.ecrm.db.model.TblLabelOptionInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_label_option_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.lnjoying.justice.ecrm.db.model.TblLabelOptionInfoExample">
    delete from tbl_label_option_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lnjoying.justice.ecrm.db.model.TblLabelOptionInfo">
    insert into tbl_label_option_info (key, label_type, type, 
      label_option, order_num)
    values (#{key,jdbcType=VARCHAR}, #{labelType,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{labelOption,jdbcType=VARCHAR}, #{orderNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lnjoying.justice.ecrm.db.model.TblLabelOptionInfo">
    insert into tbl_label_option_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="key != null">
        key,
      </if>
      <if test="labelType != null">
        label_type,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="labelOption != null">
        label_option,
      </if>
      <if test="orderNum != null">
        order_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="labelType != null">
        #{labelType,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="labelOption != null">
        #{labelOption,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lnjoying.justice.ecrm.db.model.TblLabelOptionInfoExample" resultType="java.lang.Long">
    select count(*) from tbl_label_option_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_label_option_info
    <set>
      <if test="record.key != null">
        key = #{record.key,jdbcType=VARCHAR},
      </if>
      <if test="record.labelType != null">
        label_type = #{record.labelType,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.labelOption != null">
        label_option = #{record.labelOption,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNum != null">
        order_num = #{record.orderNum,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_label_option_info
    set key = #{record.key,jdbcType=VARCHAR},
      label_type = #{record.labelType,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      label_option = #{record.labelOption,jdbcType=VARCHAR},
      order_num = #{record.orderNum,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>