<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnjoying.justice.cluster.manager.db.mapper.TblClusterSaInfoMapper">
  <resultMap id="BaseResultMap" type="com.lnjoying.justice.cluster.manager.db.model.TblClusterSaInfo">
    <id column="cluster_id" jdbcType="VARCHAR" property="clusterId" />
    <result column="secret_token" jdbcType="VARCHAR" property="secretToken" />
    <result column="secret_name" jdbcType="VARCHAR" property="secretName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    cluster_id, secret_token, secret_name, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.lnjoying.justice.cluster.manager.db.model.TblClusterSaInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_cluster_sa_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_cluster_sa_info
    where cluster_id = #{clusterId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tbl_cluster_sa_info
    where cluster_id = #{clusterId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.lnjoying.justice.cluster.manager.db.model.TblClusterSaInfoExample">
    delete from tbl_cluster_sa_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lnjoying.justice.cluster.manager.db.model.TblClusterSaInfo">
    insert into tbl_cluster_sa_info (cluster_id, secret_token, secret_name, 
      create_time, update_time)
    values (#{clusterId,jdbcType=VARCHAR}, #{secretToken,jdbcType=VARCHAR}, #{secretName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lnjoying.justice.cluster.manager.db.model.TblClusterSaInfo">
    insert into tbl_cluster_sa_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="clusterId != null">
        cluster_id,
      </if>
      <if test="secretToken != null">
        secret_token,
      </if>
      <if test="secretName != null">
        secret_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="clusterId != null">
        #{clusterId,jdbcType=VARCHAR},
      </if>
      <if test="secretToken != null">
        #{secretToken,jdbcType=VARCHAR},
      </if>
      <if test="secretName != null">
        #{secretName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lnjoying.justice.cluster.manager.db.model.TblClusterSaInfoExample" resultType="java.lang.Long">
    select count(*) from tbl_cluster_sa_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_cluster_sa_info
    <set>
      <if test="record.clusterId != null">
        cluster_id = #{record.clusterId,jdbcType=VARCHAR},
      </if>
      <if test="record.secretToken != null">
        secret_token = #{record.secretToken,jdbcType=VARCHAR},
      </if>
      <if test="record.secretName != null">
        secret_name = #{record.secretName,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_cluster_sa_info
    set cluster_id = #{record.clusterId,jdbcType=VARCHAR},
      secret_token = #{record.secretToken,jdbcType=VARCHAR},
      secret_name = #{record.secretName,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lnjoying.justice.cluster.manager.db.model.TblClusterSaInfo">
    update tbl_cluster_sa_info
    <set>
      <if test="secretToken != null">
        secret_token = #{secretToken,jdbcType=VARCHAR},
      </if>
      <if test="secretName != null">
        secret_name = #{secretName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where cluster_id = #{clusterId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lnjoying.justice.cluster.manager.db.model.TblClusterSaInfo">
    update tbl_cluster_sa_info
    set secret_token = #{secretToken,jdbcType=VARCHAR},
      secret_name = #{secretName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where cluster_id = #{clusterId,jdbcType=VARCHAR}
  </update>

  <select id="selectSecretTokenByClusterId" resultType="java.lang.String">
    select secret_token
    from tbl_cluster_sa_info
    <where>
      <if test="clusterId != null and clusterId != ''">
        and cluster_id=#{clusterId,jdbcType=VARCHAR}
      </if>
    </where>
    limit 1
  </select>
</mapper>