// sidebar
$menuText: rgba(0, 0, 0, 0.65);
$menuActiveText: #4461eb;
$subMenuActiveText: #4461eb; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #Ffffff;
$menuHover: #F0F5FF;

$subMenuBg: #4461eb;
$subMenuHover: #f0f5ff;

$sideBarWidth: 200px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
