<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnjoying.justice.omc.db.mapper.TblOmcAlertInhibitionRuleMapper">
  <resultMap id="BaseResultMap" type="com.lnjoying.justice.omc.db.model.TblOmcAlertInhibitionRule">
    <!--@mbg.generated-->
    <!--@Table tbl_omc_alert_inhibition_rule-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="enable" jdbcType="BOOLEAN" property="enable" />
    <result column="match_all" jdbcType="BOOLEAN" property="matchAll" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="eval_interval" jdbcType="INTEGER" property="evalInterval" />
    <result column="priorities" jdbcType="OTHER" property="priorities" typeHandler="com.lnjoying.justice.commonweb.handler.GenericJsonbTypeHandler" />
    <result column="tags" jdbcType="OTHER" property="tags" typeHandler="com.lnjoying.justice.omc.handler.TagListJsonbTypeHandler" />
    <result column="bp_id" jdbcType="VARCHAR" property="bpId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, "enable", match_all, "name", eval_interval, priorities, tags, bp_id, user_id, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from tbl_omc_alert_inhibition_rule
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from tbl_omc_alert_inhibition_rule
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lnjoying.justice.omc.db.model.TblOmcAlertInhibitionRule">
    <!--@mbg.generated-->
    insert into tbl_omc_alert_inhibition_rule (id, "enable", match_all,
      "name", eval_interval, priorities, 
      tags, 
      bp_id, user_id, create_time, 
      update_time)
    values (#{id,jdbcType=VARCHAR}, #{enable,jdbcType=BOOLEAN}, #{matchAll,jdbcType=BOOLEAN}, 
      #{name,jdbcType=VARCHAR}, #{evalInterval,jdbcType=INTEGER}, #{priorities,jdbcType=OTHER,typeHandler=com.lnjoying.justice.commonweb.handler.GenericJsonbTypeHandler}, 
      #{tags,jdbcType=OTHER,typeHandler=com.lnjoying.justice.omc.handler.TagListJsonbTypeHandler}, 
      #{bpId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lnjoying.justice.omc.db.model.TblOmcAlertInhibitionRule">
    <!--@mbg.generated-->
    insert into tbl_omc_alert_inhibition_rule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        id,
      </if>
      <if test="enable != null">
        "enable",
      </if>
      <if test="matchAll != null">
        match_all,
      </if>
      <if test="name != null and name != ''">
        "name",
      </if>
      <if test="evalInterval != null">
        eval_interval,
      </if>
      <if test="priorities != null">
        priorities,
      </if>
      <if test="tags != null">
        tags,
      </if>
      <if test="bpId != null and bpId != ''">
        bp_id,
      </if>
      <if test="userId != null and userId != ''">
        user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=BOOLEAN},
      </if>
      <if test="matchAll != null">
        #{matchAll,jdbcType=BOOLEAN},
      </if>
      <if test="name != null and name != ''">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="evalInterval != null">
        #{evalInterval,jdbcType=INTEGER},
      </if>
      <if test="priorities != null">
        #{priorities,jdbcType=OTHER,typeHandler=com.lnjoying.justice.commonweb.handler.GenericJsonbTypeHandler},
      </if>
      <if test="tags != null">
        #{tags,jdbcType=OTHER,typeHandler=com.lnjoying.justice.omc.handler.TagListJsonbTypeHandler},
      </if>
      <if test="bpId != null and bpId != ''">
        #{bpId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null and userId != ''">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lnjoying.justice.omc.db.model.TblOmcAlertInhibitionRule">
    <!--@mbg.generated-->
    update tbl_omc_alert_inhibition_rule
    <set>
      <if test="enable != null">
        "enable" = #{enable,jdbcType=BOOLEAN},
      </if>
      <if test="matchAll != null">
        match_all = #{matchAll,jdbcType=BOOLEAN},
      </if>
      <if test="name != null and name != ''">
        "name" = #{name,jdbcType=VARCHAR},
      </if>
      <if test="evalInterval != null">
        eval_interval = #{evalInterval,jdbcType=INTEGER},
      </if>
      <if test="priorities != null">
        priorities = #{priorities,jdbcType=OTHER,typeHandler=com.lnjoying.justice.commonweb.handler.GenericJsonbTypeHandler},
      </if>
      <if test="tags != null">
        tags = #{tags,jdbcType=OTHER,typeHandler=com.lnjoying.justice.omc.handler.TagListJsonbTypeHandler},
      </if>
      <if test="bpId != null and bpId != ''">
        bp_id = #{bpId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null and userId != ''">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lnjoying.justice.omc.db.model.TblOmcAlertInhibitionRule">
    <!--@mbg.generated-->
    update tbl_omc_alert_inhibition_rule
    set "enable" = #{enable,jdbcType=BOOLEAN},
      match_all = #{matchAll,jdbcType=BOOLEAN},
      "name" = #{name,jdbcType=VARCHAR},
      eval_interval = #{evalInterval,jdbcType=INTEGER},
      priorities = #{priorities,jdbcType=OTHER,typeHandler=com.lnjoying.justice.commonweb.handler.GenericJsonbTypeHandler},
      tags = #{tags,jdbcType=OTHER,typeHandler=com.lnjoying.justice.omc.handler.TagListJsonbTypeHandler},
      bp_id = #{bpId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tbl_omc_alert_inhibition_rule
        <where>
            <if test="id != null and id != ''">
                and id=#{id,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>