<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnjoying.justice.omc.db.mapper.TblOmcReceiverMapper">
  <resultMap id="BaseResultMap" type="com.lnjoying.justice.omc.db.model.TblOmcReceiver">
    <!--@mbg.generated-->
    <!--@Table tbl_omc_receiver-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="iam_user_id" jdbcType="VARCHAR" property="iamUserId" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="configs" jdbcType="OTHER" property="configs" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="bp_id" jdbcType="VARCHAR" property="bpId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="notify_type" jdbcType="VARCHAR" property="notifyType" />
  </resultMap>

  <resultMap extends="BaseResultMap" id="ExtendResultMap" type="com.lnjoying.justice.omc.domain.model.ReceiverDetail">
    <result column="notify_channels" jdbcType="VARCHAR" property="notifyChannels" />
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, "name", description, iam_user_id, email, phone, configs, "status", bp_id, user_id, 
    create_time, update_time, notify_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from tbl_omc_receiver
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from tbl_omc_receiver
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lnjoying.justice.omc.db.model.TblOmcReceiver">
    <!--@mbg.generated-->
    insert into tbl_omc_receiver (id, "name", description, 
      iam_user_id, email, phone, 
      configs, "status", bp_id, 
      user_id, create_time, update_time, 
      notify_type)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{iamUserId,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{configs,jdbcType=OTHER}, #{status,jdbcType=INTEGER}, #{bpId,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{notifyType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lnjoying.justice.omc.db.model.TblOmcReceiver">
    <!--@mbg.generated-->
    insert into tbl_omc_receiver
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        id,
      </if>
      <if test="name != null and name != ''">
        "name",
      </if>
      <if test="description != null and description != ''">
        description,
      </if>
      <if test="iamUserId != null and iamUserId != ''">
        iam_user_id,
      </if>
      <if test="email != null and email != ''">
        email,
      </if>
      <if test="phone != null and phone != ''">
        phone,
      </if>
      <if test="configs != null">
        configs,
      </if>
      <if test="status != null">
        "status",
      </if>
      <if test="bpId != null and bpId != ''">
        bp_id,
      </if>
      <if test="userId != null and userId != ''">
        user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="notifyType != null and notifyType != ''">
        notify_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null and name != ''">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null and description != ''">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="iamUserId != null and iamUserId != ''">
        #{iamUserId,jdbcType=VARCHAR},
      </if>
      <if test="email != null and email != ''">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null and phone != ''">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="configs != null">
        #{configs,jdbcType=OTHER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="bpId != null and bpId != ''">
        #{bpId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null and userId != ''">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="notifyType != null and notifyType != ''">
        #{notifyType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lnjoying.justice.omc.db.model.TblOmcReceiver">
    <!--@mbg.generated-->
    update tbl_omc_receiver
    <set>
      <if test="name != null and name != ''">
        "name" = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null and description != ''">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="iamUserId != null and iamUserId != ''">
        iam_user_id = #{iamUserId,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="configs != null">
        configs = #{configs,jdbcType=OTHER},
      </if>
      <if test="status != null">
        "status" = #{status,jdbcType=INTEGER},
      </if>
      <if test="bpId != null and bpId != ''">
        bp_id = #{bpId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null and userId != ''">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="notifyType != null and notifyType != ''">
        notify_type = #{notifyType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lnjoying.justice.omc.db.model.TblOmcReceiver">
    <!--@mbg.generated-->
    update tbl_omc_receiver
    set "name" = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      iam_user_id = #{iamUserId,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      configs = #{configs,jdbcType=OTHER},
      "status" = #{status,jdbcType=INTEGER},
      bp_id = #{bpId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      notify_type = #{notifyType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tbl_omc_receiver
        <where>
          <if test="bpId != null and bpId != ''">
            and bp_id=#{bpId,jdbcType=VARCHAR}
          </if>
          <if test="userId != null and userId != ''">
            and user_id=#{userId,jdbcType=VARCHAR}
          </if>
            <if test="name != null and name != ''">
                and "name"=#{name,jdbcType=VARCHAR}
            </if>
        </where>
    order by create_time desc
    </select>

  <select id="selectById" resultMap="ExtendResultMap">
    SELECT
    t1.*,
    t5.notify_channels
    FROM
    ( SELECT * FROM tbl_omc_receiver
    <where>
      <if test="id != null and id != ''">
        and id=#{id,jdbcType=VARCHAR}
      </if>
    </where>
    ) t1
    JOIN (
    SELECT
    t4.receiver_id,
    t4.notify_channels
    FROM
    ( SELECT * FROM tbl_omc_notify_rule
    <where>
      <if test="alarmId != null and alarmId != ''">
        and alarm_id=#{alarmId,jdbcType=VARCHAR}
      </if>
    </where>
    ) t3
    JOIN ( SELECT * FROM tbl_omc_notify_object
    <where>
      <if test="id != null and id != ''">
        and receiver_id=#{id,jdbcType=VARCHAR}
      </if>
    </where>
    ) t4 ON t3.ID = t4.notify_rule_id
    ) t5 ON t1.ID = t5.receiver_id
    limit 1
    </select>
</mapper>