<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnjoying.justice.cmp.db.mapper.TblCmpVmSnapMapper">
  <resultMap id="BaseResultMap" type="com.lnjoying.justice.cmp.db.model.TblCmpVmSnap">
    <id column="cloud_id" jdbcType="VARCHAR" property="cloudId" />
    <id column="snap_id" jdbcType="VARCHAR" property="snapId" />
    <result column="vm_instance_id" jdbcType="VARCHAR" property="vmInstanceId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="snap_id_from_agent" jdbcType="VARCHAR" property="snapIdFromAgent" />
    <result column="phase_status" jdbcType="INTEGER" property="phaseStatus" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="is_current" jdbcType="BIT" property="isCurrent" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="ee_bp" jdbcType="VARCHAR" property="eeBp" />
    <result column="ee_user" jdbcType="VARCHAR" property="eeUser" />
    <result column="ee_status" jdbcType="INTEGER" property="eeStatus" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    cloud_id, snap_id, vm_instance_id, name, user_id, snap_id_from_agent, phase_status, 
    description, is_current, create_time, update_time, ee_bp, ee_user, ee_status, parent_id
  </sql>
  <select id="selectByExample" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpVmSnapExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_cmp_vm_snap
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="startRow != null and pageSize != null and pageSize != 0">
      limit #{pageSize} offset #{startRow}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpVmSnapKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_cmp_vm_snap
    where cloud_id = #{cloudId,jdbcType=VARCHAR}
      and snap_id = #{snapId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpVmSnapKey">
    delete from tbl_cmp_vm_snap
    where cloud_id = #{cloudId,jdbcType=VARCHAR}
      and snap_id = #{snapId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpVmSnapExample">
    delete from tbl_cmp_vm_snap
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpVmSnap">
    insert into tbl_cmp_vm_snap (cloud_id, snap_id, vm_instance_id, 
      name, user_id, snap_id_from_agent, 
      phase_status, description, is_current, 
      create_time, update_time, ee_bp, 
      ee_user, ee_status, parent_id
      )
    values (#{cloudId,jdbcType=VARCHAR}, #{snapId,jdbcType=VARCHAR}, #{vmInstanceId,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{snapIdFromAgent,jdbcType=VARCHAR}, 
      #{phaseStatus,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{isCurrent,jdbcType=BIT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{eeBp,jdbcType=VARCHAR}, 
      #{eeUser,jdbcType=VARCHAR}, #{eeStatus,jdbcType=INTEGER}, #{parentId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpVmSnap">
    insert into tbl_cmp_vm_snap
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cloudId != null">
        cloud_id,
      </if>
      <if test="snapId != null">
        snap_id,
      </if>
      <if test="vmInstanceId != null">
        vm_instance_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="snapIdFromAgent != null">
        snap_id_from_agent,
      </if>
      <if test="phaseStatus != null">
        phase_status,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="isCurrent != null">
        is_current,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="eeBp != null">
        ee_bp,
      </if>
      <if test="eeUser != null">
        ee_user,
      </if>
      <if test="eeStatus != null">
        ee_status,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cloudId != null">
        #{cloudId,jdbcType=VARCHAR},
      </if>
      <if test="snapId != null">
        #{snapId,jdbcType=VARCHAR},
      </if>
      <if test="vmInstanceId != null">
        #{vmInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="snapIdFromAgent != null">
        #{snapIdFromAgent,jdbcType=VARCHAR},
      </if>
      <if test="phaseStatus != null">
        #{phaseStatus,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="isCurrent != null">
        #{isCurrent,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="eeBp != null">
        #{eeBp,jdbcType=VARCHAR},
      </if>
      <if test="eeUser != null">
        #{eeUser,jdbcType=VARCHAR},
      </if>
      <if test="eeStatus != null">
        #{eeStatus,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpVmSnapExample" resultType="java.lang.Long">
    select count(*) from tbl_cmp_vm_snap
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_cmp_vm_snap
    <set>
      <if test="record.cloudId != null">
        cloud_id = #{record.cloudId,jdbcType=VARCHAR},
      </if>
      <if test="record.snapId != null">
        snap_id = #{record.snapId,jdbcType=VARCHAR},
      </if>
      <if test="record.vmInstanceId != null">
        vm_instance_id = #{record.vmInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.snapIdFromAgent != null">
        snap_id_from_agent = #{record.snapIdFromAgent,jdbcType=VARCHAR},
      </if>
      <if test="record.phaseStatus != null">
        phase_status = #{record.phaseStatus,jdbcType=INTEGER},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.isCurrent != null">
        is_current = #{record.isCurrent,jdbcType=BIT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.eeBp != null">
        ee_bp = #{record.eeBp,jdbcType=VARCHAR},
      </if>
      <if test="record.eeUser != null">
        ee_user = #{record.eeUser,jdbcType=VARCHAR},
      </if>
      <if test="record.eeStatus != null">
        ee_status = #{record.eeStatus,jdbcType=INTEGER},
      </if>
      <if test="record.parentId != null">
        parent_id = #{record.parentId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_cmp_vm_snap
    set cloud_id = #{record.cloudId,jdbcType=VARCHAR},
      snap_id = #{record.snapId,jdbcType=VARCHAR},
      vm_instance_id = #{record.vmInstanceId,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      snap_id_from_agent = #{record.snapIdFromAgent,jdbcType=VARCHAR},
      phase_status = #{record.phaseStatus,jdbcType=INTEGER},
      description = #{record.description,jdbcType=VARCHAR},
      is_current = #{record.isCurrent,jdbcType=BIT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      ee_bp = #{record.eeBp,jdbcType=VARCHAR},
      ee_user = #{record.eeUser,jdbcType=VARCHAR},
      ee_status = #{record.eeStatus,jdbcType=INTEGER},
      parent_id = #{record.parentId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpVmSnap">
    update tbl_cmp_vm_snap
    <set>
      <if test="vmInstanceId != null">
        vm_instance_id = #{vmInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="snapIdFromAgent != null">
        snap_id_from_agent = #{snapIdFromAgent,jdbcType=VARCHAR},
      </if>
      <if test="phaseStatus != null">
        phase_status = #{phaseStatus,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="isCurrent != null">
        is_current = #{isCurrent,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="eeBp != null">
        ee_bp = #{eeBp,jdbcType=VARCHAR},
      </if>
      <if test="eeUser != null">
        ee_user = #{eeUser,jdbcType=VARCHAR},
      </if>
      <if test="eeStatus != null">
        ee_status = #{eeStatus,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
    </set>
    where cloud_id = #{cloudId,jdbcType=VARCHAR}
      and snap_id = #{snapId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpVmSnap">
    update tbl_cmp_vm_snap
    set vm_instance_id = #{vmInstanceId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      snap_id_from_agent = #{snapIdFromAgent,jdbcType=VARCHAR},
      phase_status = #{phaseStatus,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      is_current = #{isCurrent,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      ee_bp = #{eeBp,jdbcType=VARCHAR},
      ee_user = #{eeUser,jdbcType=VARCHAR},
      ee_status = #{eeStatus,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=VARCHAR}
    where cloud_id = #{cloudId,jdbcType=VARCHAR}
      and snap_id = #{snapId,jdbcType=VARCHAR}
  </update>
  <select id="getSnapIds" resultType="String">
    select snap_id from tbl_cmp_vm_snap
    where cloud_id = #{cloudId} and ee_status != -1
  </select>
</mapper>