<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnjoying.justice.cmp.db.mapper.TblCmpOsSecuritygrouprulesMapper">
  <resultMap id="BaseResultMap" type="com.lnjoying.justice.cmp.db.model.TblCmpOsSecuritygrouprules">
    <id column="cloud_id" jdbcType="VARCHAR" property="cloudId" />
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="security_group_id" jdbcType="VARCHAR" property="securityGroupId" />
    <result column="remote_group_id" jdbcType="VARCHAR" property="remoteGroupId" />
    <result column="direction" jdbcType="VARCHAR" property="direction" />
    <result column="ethertype" jdbcType="VARCHAR" property="ethertype" />
    <result column="protocol" jdbcType="VARCHAR" property="protocol" />
    <result column="port_range_min" jdbcType="INTEGER" property="portRangeMin" />
    <result column="port_range_max" jdbcType="INTEGER" property="portRangeMax" />
    <result column="remote_ip_prefix" jdbcType="VARCHAR" property="remoteIpPrefix" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="revision_number" jdbcType="BIGINT" property="revisionNumber" />
    <result column="ee_status" jdbcType="INTEGER" property="eeStatus" />
    <result column="ee_bp" jdbcType="VARCHAR" property="eeBp" />
    <result column="ee_user" jdbcType="VARCHAR" property="eeUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    cloud_id, id, project_id, security_group_id, remote_group_id, direction, ethertype, 
    protocol, port_range_min, port_range_max, remote_ip_prefix, created_at, updated_at, 
    description, revision_number, ee_status, ee_bp, ee_user
  </sql>
  <select id="selectByExample" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpOsSecuritygrouprulesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_cmp_os_securitygrouprules
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpOsSecuritygrouprulesKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_cmp_os_securitygrouprules
    where cloud_id = #{cloudId,jdbcType=VARCHAR}
      and id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpOsSecuritygrouprulesKey">
    delete from tbl_cmp_os_securitygrouprules
    where cloud_id = #{cloudId,jdbcType=VARCHAR}
      and id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpOsSecuritygrouprulesExample">
    delete from tbl_cmp_os_securitygrouprules
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpOsSecuritygrouprules">
    insert into tbl_cmp_os_securitygrouprules (cloud_id, id, project_id, 
      security_group_id, remote_group_id, direction, 
      ethertype, protocol, port_range_min, 
      port_range_max, remote_ip_prefix, created_at, 
      updated_at, description, revision_number, 
      ee_status, ee_bp, ee_user
      )
    values (#{cloudId,jdbcType=VARCHAR}, #{id,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, 
      #{securityGroupId,jdbcType=VARCHAR}, #{remoteGroupId,jdbcType=VARCHAR}, #{direction,jdbcType=VARCHAR}, 
      #{ethertype,jdbcType=VARCHAR}, #{protocol,jdbcType=VARCHAR}, #{portRangeMin,jdbcType=INTEGER}, 
      #{portRangeMax,jdbcType=INTEGER}, #{remoteIpPrefix,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR}, #{revisionNumber,jdbcType=BIGINT}, 
      #{eeStatus,jdbcType=INTEGER}, #{eeBp,jdbcType=VARCHAR}, #{eeUser,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpOsSecuritygrouprules">
    insert into tbl_cmp_os_securitygrouprules
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cloudId != null">
        cloud_id,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="securityGroupId != null">
        security_group_id,
      </if>
      <if test="remoteGroupId != null">
        remote_group_id,
      </if>
      <if test="direction != null">
        direction,
      </if>
      <if test="ethertype != null">
        ethertype,
      </if>
      <if test="protocol != null">
        protocol,
      </if>
      <if test="portRangeMin != null">
        port_range_min,
      </if>
      <if test="portRangeMax != null">
        port_range_max,
      </if>
      <if test="remoteIpPrefix != null">
        remote_ip_prefix,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="revisionNumber != null">
        revision_number,
      </if>
      <if test="eeStatus != null">
        ee_status,
      </if>
      <if test="eeBp != null">
        ee_bp,
      </if>
      <if test="eeUser != null">
        ee_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cloudId != null">
        #{cloudId,jdbcType=VARCHAR},
      </if>
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="securityGroupId != null">
        #{securityGroupId,jdbcType=VARCHAR},
      </if>
      <if test="remoteGroupId != null">
        #{remoteGroupId,jdbcType=VARCHAR},
      </if>
      <if test="direction != null">
        #{direction,jdbcType=VARCHAR},
      </if>
      <if test="ethertype != null">
        #{ethertype,jdbcType=VARCHAR},
      </if>
      <if test="protocol != null">
        #{protocol,jdbcType=VARCHAR},
      </if>
      <if test="portRangeMin != null">
        #{portRangeMin,jdbcType=INTEGER},
      </if>
      <if test="portRangeMax != null">
        #{portRangeMax,jdbcType=INTEGER},
      </if>
      <if test="remoteIpPrefix != null">
        #{remoteIpPrefix,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="revisionNumber != null">
        #{revisionNumber,jdbcType=BIGINT},
      </if>
      <if test="eeStatus != null">
        #{eeStatus,jdbcType=INTEGER},
      </if>
      <if test="eeBp != null">
        #{eeBp,jdbcType=VARCHAR},
      </if>
      <if test="eeUser != null">
        #{eeUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpOsSecuritygrouprulesExample" resultType="java.lang.Long">
    select count(*) from tbl_cmp_os_securitygrouprules
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_cmp_os_securitygrouprules
    <set>
      <if test="record.cloudId != null">
        cloud_id = #{record.cloudId,jdbcType=VARCHAR},
      </if>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.projectId != null">
        project_id = #{record.projectId,jdbcType=VARCHAR},
      </if>
      <if test="record.securityGroupId != null">
        security_group_id = #{record.securityGroupId,jdbcType=VARCHAR},
      </if>
      <if test="record.remoteGroupId != null">
        remote_group_id = #{record.remoteGroupId,jdbcType=VARCHAR},
      </if>
      <if test="record.direction != null">
        direction = #{record.direction,jdbcType=VARCHAR},
      </if>
      <if test="record.ethertype != null">
        ethertype = #{record.ethertype,jdbcType=VARCHAR},
      </if>
      <if test="record.protocol != null">
        protocol = #{record.protocol,jdbcType=VARCHAR},
      </if>
      <if test="record.portRangeMin != null">
        port_range_min = #{record.portRangeMin,jdbcType=INTEGER},
      </if>
      <if test="record.portRangeMax != null">
        port_range_max = #{record.portRangeMax,jdbcType=INTEGER},
      </if>
      <if test="record.remoteIpPrefix != null">
        remote_ip_prefix = #{record.remoteIpPrefix,jdbcType=VARCHAR},
      </if>
      <if test="record.createdAt != null">
        created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedAt != null">
        updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.revisionNumber != null">
        revision_number = #{record.revisionNumber,jdbcType=BIGINT},
      </if>
      <if test="record.eeStatus != null">
        ee_status = #{record.eeStatus,jdbcType=INTEGER},
      </if>
      <if test="record.eeBp != null">
        ee_bp = #{record.eeBp,jdbcType=VARCHAR},
      </if>
      <if test="record.eeUser != null">
        ee_user = #{record.eeUser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_cmp_os_securitygrouprules
    set cloud_id = #{record.cloudId,jdbcType=VARCHAR},
      id = #{record.id,jdbcType=VARCHAR},
      project_id = #{record.projectId,jdbcType=VARCHAR},
      security_group_id = #{record.securityGroupId,jdbcType=VARCHAR},
      remote_group_id = #{record.remoteGroupId,jdbcType=VARCHAR},
      direction = #{record.direction,jdbcType=VARCHAR},
      ethertype = #{record.ethertype,jdbcType=VARCHAR},
      protocol = #{record.protocol,jdbcType=VARCHAR},
      port_range_min = #{record.portRangeMin,jdbcType=INTEGER},
      port_range_max = #{record.portRangeMax,jdbcType=INTEGER},
      remote_ip_prefix = #{record.remoteIpPrefix,jdbcType=VARCHAR},
      created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
      description = #{record.description,jdbcType=VARCHAR},
      revision_number = #{record.revisionNumber,jdbcType=BIGINT},
      ee_status = #{record.eeStatus,jdbcType=INTEGER},
      ee_bp = #{record.eeBp,jdbcType=VARCHAR},
      ee_user = #{record.eeUser,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpOsSecuritygrouprules">
    update tbl_cmp_os_securitygrouprules
    <set>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="securityGroupId != null">
        security_group_id = #{securityGroupId,jdbcType=VARCHAR},
      </if>
      <if test="remoteGroupId != null">
        remote_group_id = #{remoteGroupId,jdbcType=VARCHAR},
      </if>
      <if test="direction != null">
        direction = #{direction,jdbcType=VARCHAR},
      </if>
      <if test="ethertype != null">
        ethertype = #{ethertype,jdbcType=VARCHAR},
      </if>
      <if test="protocol != null">
        protocol = #{protocol,jdbcType=VARCHAR},
      </if>
      <if test="portRangeMin != null">
        port_range_min = #{portRangeMin,jdbcType=INTEGER},
      </if>
      <if test="portRangeMax != null">
        port_range_max = #{portRangeMax,jdbcType=INTEGER},
      </if>
      <if test="remoteIpPrefix != null">
        remote_ip_prefix = #{remoteIpPrefix,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="revisionNumber != null">
        revision_number = #{revisionNumber,jdbcType=BIGINT},
      </if>
      <if test="eeStatus != null">
        ee_status = #{eeStatus,jdbcType=INTEGER},
      </if>
      <if test="eeBp != null">
        ee_bp = #{eeBp,jdbcType=VARCHAR},
      </if>
      <if test="eeUser != null">
        ee_user = #{eeUser,jdbcType=VARCHAR},
      </if>
    </set>
    where cloud_id = #{cloudId,jdbcType=VARCHAR}
      and id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpOsSecuritygrouprules">
    update tbl_cmp_os_securitygrouprules
    set project_id = #{projectId,jdbcType=VARCHAR},
      security_group_id = #{securityGroupId,jdbcType=VARCHAR},
      remote_group_id = #{remoteGroupId,jdbcType=VARCHAR},
      direction = #{direction,jdbcType=VARCHAR},
      ethertype = #{ethertype,jdbcType=VARCHAR},
      protocol = #{protocol,jdbcType=VARCHAR},
      port_range_min = #{portRangeMin,jdbcType=INTEGER},
      port_range_max = #{portRangeMax,jdbcType=INTEGER},
      remote_ip_prefix = #{remoteIpPrefix,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR},
      revision_number = #{revisionNumber,jdbcType=BIGINT},
      ee_status = #{eeStatus,jdbcType=INTEGER},
      ee_bp = #{eeBp,jdbcType=VARCHAR},
      ee_user = #{eeUser,jdbcType=VARCHAR}
    where cloud_id = #{cloudId,jdbcType=VARCHAR}
      and id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="getSecuritygroupruleIds" resultType="String">
    select id from tbl_cmp_os_securitygrouprules
    where cloud_id = #{cloudId} and ee_status != -1
  </select>
  <select id="getSecuritygroupruleIdsBySecurityGroup" resultType="String">
    select id from tbl_cmp_os_securitygrouprules
    where cloud_id = #{cloudId} and security_group_id = #{securityGroupId} and ee_status != -1
  </select>
</mapper>