<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnjoying.justice.cmp.db.mapper.TblCmpOsBackupsMapper">
  <resultMap id="BaseResultMap" type="com.lnjoying.justice.cmp.db.model.TblCmpOsBackups">
    <id column="cloud_id" jdbcType="VARCHAR" property="cloudId" />
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="deleted_at" jdbcType="TIMESTAMP" property="deletedAt" />
    <result column="deleted" jdbcType="SMALLINT" property="deleted" />
    <result column="volume_id" jdbcType="VARCHAR" property="volumeId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="host" jdbcType="VARCHAR" property="host" />
    <result column="availability_zone" jdbcType="VARCHAR" property="availabilityZone" />
    <result column="display_name" jdbcType="VARCHAR" property="displayName" />
    <result column="display_description" jdbcType="VARCHAR" property="displayDescription" />
    <result column="container" jdbcType="VARCHAR" property="container" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="fail_reason" jdbcType="VARCHAR" property="failReason" />
    <result column="service_metadata" jdbcType="VARCHAR" property="serviceMetadata" />
    <result column="service" jdbcType="VARCHAR" property="service" />
    <result column="size" jdbcType="INTEGER" property="size" />
    <result column="object_count" jdbcType="INTEGER" property="objectCount" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="temp_volume_id" jdbcType="VARCHAR" property="tempVolumeId" />
    <result column="temp_snapshot_id" jdbcType="VARCHAR" property="tempSnapshotId" />
    <result column="num_dependent_backups" jdbcType="INTEGER" property="numDependentBackups" />
    <result column="snapshot_id" jdbcType="VARCHAR" property="snapshotId" />
    <result column="data_timestamp" jdbcType="TIMESTAMP" property="dataTimestamp" />
    <result column="restore_volume_id" jdbcType="VARCHAR" property="restoreVolumeId" />
    <result column="encryption_key_id" jdbcType="VARCHAR" property="encryptionKeyId" />
    <result column="ee_status" jdbcType="INTEGER" property="eeStatus" />
    <result column="ee_bp" jdbcType="VARCHAR" property="eeBp" />
    <result column="ee_user" jdbcType="VARCHAR" property="eeUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    cloud_id, id, created_at, updated_at, deleted_at, deleted, volume_id, user_id, project_id, 
    host, availability_zone, display_name, display_description, container, status, fail_reason, 
    service_metadata, service, size, object_count, parent_id, temp_volume_id, temp_snapshot_id, 
    num_dependent_backups, snapshot_id, data_timestamp, restore_volume_id, encryption_key_id, 
    ee_status, ee_bp, ee_user
  </sql>
  <select id="selectByExample" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpOsBackupsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_cmp_os_backups
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpOsBackupsKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_cmp_os_backups
    where cloud_id = #{cloudId,jdbcType=VARCHAR}
      and id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpOsBackupsKey">
    delete from tbl_cmp_os_backups
    where cloud_id = #{cloudId,jdbcType=VARCHAR}
      and id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpOsBackupsExample">
    delete from tbl_cmp_os_backups
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpOsBackups">
    insert into tbl_cmp_os_backups (cloud_id, id, created_at, 
      updated_at, deleted_at, deleted, 
      volume_id, user_id, project_id, 
      host, availability_zone, display_name, 
      display_description, container, status, 
      fail_reason, service_metadata, service, 
      size, object_count, parent_id, 
      temp_volume_id, temp_snapshot_id, num_dependent_backups, 
      snapshot_id, data_timestamp, restore_volume_id, 
      encryption_key_id, ee_status, ee_bp, 
      ee_user)
    values (#{cloudId,jdbcType=VARCHAR}, #{id,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{deletedAt,jdbcType=TIMESTAMP}, #{deleted,jdbcType=SMALLINT}, 
      #{volumeId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, 
      #{host,jdbcType=VARCHAR}, #{availabilityZone,jdbcType=VARCHAR}, #{displayName,jdbcType=VARCHAR}, 
      #{displayDescription,jdbcType=VARCHAR}, #{container,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{failReason,jdbcType=VARCHAR}, #{serviceMetadata,jdbcType=VARCHAR}, #{service,jdbcType=VARCHAR}, 
      #{size,jdbcType=INTEGER}, #{objectCount,jdbcType=INTEGER}, #{parentId,jdbcType=VARCHAR}, 
      #{tempVolumeId,jdbcType=VARCHAR}, #{tempSnapshotId,jdbcType=VARCHAR}, #{numDependentBackups,jdbcType=INTEGER}, 
      #{snapshotId,jdbcType=VARCHAR}, #{dataTimestamp,jdbcType=TIMESTAMP}, #{restoreVolumeId,jdbcType=VARCHAR}, 
      #{encryptionKeyId,jdbcType=VARCHAR}, #{eeStatus,jdbcType=INTEGER}, #{eeBp,jdbcType=VARCHAR}, 
      #{eeUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpOsBackups">
    insert into tbl_cmp_os_backups
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cloudId != null">
        cloud_id,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="deletedAt != null">
        deleted_at,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="volumeId != null">
        volume_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="host != null">
        host,
      </if>
      <if test="availabilityZone != null">
        availability_zone,
      </if>
      <if test="displayName != null">
        display_name,
      </if>
      <if test="displayDescription != null">
        display_description,
      </if>
      <if test="container != null">
        container,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="failReason != null">
        fail_reason,
      </if>
      <if test="serviceMetadata != null">
        service_metadata,
      </if>
      <if test="service != null">
        service,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="objectCount != null">
        object_count,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="tempVolumeId != null">
        temp_volume_id,
      </if>
      <if test="tempSnapshotId != null">
        temp_snapshot_id,
      </if>
      <if test="numDependentBackups != null">
        num_dependent_backups,
      </if>
      <if test="snapshotId != null">
        snapshot_id,
      </if>
      <if test="dataTimestamp != null">
        data_timestamp,
      </if>
      <if test="restoreVolumeId != null">
        restore_volume_id,
      </if>
      <if test="encryptionKeyId != null">
        encryption_key_id,
      </if>
      <if test="eeStatus != null">
        ee_status,
      </if>
      <if test="eeBp != null">
        ee_bp,
      </if>
      <if test="eeUser != null">
        ee_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cloudId != null">
        #{cloudId,jdbcType=VARCHAR},
      </if>
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedAt != null">
        #{deletedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=SMALLINT},
      </if>
      <if test="volumeId != null">
        #{volumeId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="host != null">
        #{host,jdbcType=VARCHAR},
      </if>
      <if test="availabilityZone != null">
        #{availabilityZone,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null">
        #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="displayDescription != null">
        #{displayDescription,jdbcType=VARCHAR},
      </if>
      <if test="container != null">
        #{container,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="failReason != null">
        #{failReason,jdbcType=VARCHAR},
      </if>
      <if test="serviceMetadata != null">
        #{serviceMetadata,jdbcType=VARCHAR},
      </if>
      <if test="service != null">
        #{service,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=INTEGER},
      </if>
      <if test="objectCount != null">
        #{objectCount,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="tempVolumeId != null">
        #{tempVolumeId,jdbcType=VARCHAR},
      </if>
      <if test="tempSnapshotId != null">
        #{tempSnapshotId,jdbcType=VARCHAR},
      </if>
      <if test="numDependentBackups != null">
        #{numDependentBackups,jdbcType=INTEGER},
      </if>
      <if test="snapshotId != null">
        #{snapshotId,jdbcType=VARCHAR},
      </if>
      <if test="dataTimestamp != null">
        #{dataTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="restoreVolumeId != null">
        #{restoreVolumeId,jdbcType=VARCHAR},
      </if>
      <if test="encryptionKeyId != null">
        #{encryptionKeyId,jdbcType=VARCHAR},
      </if>
      <if test="eeStatus != null">
        #{eeStatus,jdbcType=INTEGER},
      </if>
      <if test="eeBp != null">
        #{eeBp,jdbcType=VARCHAR},
      </if>
      <if test="eeUser != null">
        #{eeUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpOsBackupsExample" resultType="java.lang.Long">
    select count(*) from tbl_cmp_os_backups
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_cmp_os_backups
    <set>
      <if test="record.cloudId != null">
        cloud_id = #{record.cloudId,jdbcType=VARCHAR},
      </if>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.createdAt != null">
        created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedAt != null">
        updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deletedAt != null">
        deleted_at = #{record.deletedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleted != null">
        deleted = #{record.deleted,jdbcType=SMALLINT},
      </if>
      <if test="record.volumeId != null">
        volume_id = #{record.volumeId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.projectId != null">
        project_id = #{record.projectId,jdbcType=VARCHAR},
      </if>
      <if test="record.host != null">
        host = #{record.host,jdbcType=VARCHAR},
      </if>
      <if test="record.availabilityZone != null">
        availability_zone = #{record.availabilityZone,jdbcType=VARCHAR},
      </if>
      <if test="record.displayName != null">
        display_name = #{record.displayName,jdbcType=VARCHAR},
      </if>
      <if test="record.displayDescription != null">
        display_description = #{record.displayDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.container != null">
        container = #{record.container,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.failReason != null">
        fail_reason = #{record.failReason,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceMetadata != null">
        service_metadata = #{record.serviceMetadata,jdbcType=VARCHAR},
      </if>
      <if test="record.service != null">
        service = #{record.service,jdbcType=VARCHAR},
      </if>
      <if test="record.size != null">
        size = #{record.size,jdbcType=INTEGER},
      </if>
      <if test="record.objectCount != null">
        object_count = #{record.objectCount,jdbcType=INTEGER},
      </if>
      <if test="record.parentId != null">
        parent_id = #{record.parentId,jdbcType=VARCHAR},
      </if>
      <if test="record.tempVolumeId != null">
        temp_volume_id = #{record.tempVolumeId,jdbcType=VARCHAR},
      </if>
      <if test="record.tempSnapshotId != null">
        temp_snapshot_id = #{record.tempSnapshotId,jdbcType=VARCHAR},
      </if>
      <if test="record.numDependentBackups != null">
        num_dependent_backups = #{record.numDependentBackups,jdbcType=INTEGER},
      </if>
      <if test="record.snapshotId != null">
        snapshot_id = #{record.snapshotId,jdbcType=VARCHAR},
      </if>
      <if test="record.dataTimestamp != null">
        data_timestamp = #{record.dataTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.restoreVolumeId != null">
        restore_volume_id = #{record.restoreVolumeId,jdbcType=VARCHAR},
      </if>
      <if test="record.encryptionKeyId != null">
        encryption_key_id = #{record.encryptionKeyId,jdbcType=VARCHAR},
      </if>
      <if test="record.eeStatus != null">
        ee_status = #{record.eeStatus,jdbcType=INTEGER},
      </if>
      <if test="record.eeBp != null">
        ee_bp = #{record.eeBp,jdbcType=VARCHAR},
      </if>
      <if test="record.eeUser != null">
        ee_user = #{record.eeUser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_cmp_os_backups
    set cloud_id = #{record.cloudId,jdbcType=VARCHAR},
      id = #{record.id,jdbcType=VARCHAR},
      created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
      deleted_at = #{record.deletedAt,jdbcType=TIMESTAMP},
      deleted = #{record.deleted,jdbcType=SMALLINT},
      volume_id = #{record.volumeId,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      project_id = #{record.projectId,jdbcType=VARCHAR},
      host = #{record.host,jdbcType=VARCHAR},
      availability_zone = #{record.availabilityZone,jdbcType=VARCHAR},
      display_name = #{record.displayName,jdbcType=VARCHAR},
      display_description = #{record.displayDescription,jdbcType=VARCHAR},
      container = #{record.container,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      fail_reason = #{record.failReason,jdbcType=VARCHAR},
      service_metadata = #{record.serviceMetadata,jdbcType=VARCHAR},
      service = #{record.service,jdbcType=VARCHAR},
      size = #{record.size,jdbcType=INTEGER},
      object_count = #{record.objectCount,jdbcType=INTEGER},
      parent_id = #{record.parentId,jdbcType=VARCHAR},
      temp_volume_id = #{record.tempVolumeId,jdbcType=VARCHAR},
      temp_snapshot_id = #{record.tempSnapshotId,jdbcType=VARCHAR},
      num_dependent_backups = #{record.numDependentBackups,jdbcType=INTEGER},
      snapshot_id = #{record.snapshotId,jdbcType=VARCHAR},
      data_timestamp = #{record.dataTimestamp,jdbcType=TIMESTAMP},
      restore_volume_id = #{record.restoreVolumeId,jdbcType=VARCHAR},
      encryption_key_id = #{record.encryptionKeyId,jdbcType=VARCHAR},
      ee_status = #{record.eeStatus,jdbcType=INTEGER},
      ee_bp = #{record.eeBp,jdbcType=VARCHAR},
      ee_user = #{record.eeUser,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpOsBackups">
    update tbl_cmp_os_backups
    <set>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedAt != null">
        deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=SMALLINT},
      </if>
      <if test="volumeId != null">
        volume_id = #{volumeId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="host != null">
        host = #{host,jdbcType=VARCHAR},
      </if>
      <if test="availabilityZone != null">
        availability_zone = #{availabilityZone,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null">
        display_name = #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="displayDescription != null">
        display_description = #{displayDescription,jdbcType=VARCHAR},
      </if>
      <if test="container != null">
        container = #{container,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="failReason != null">
        fail_reason = #{failReason,jdbcType=VARCHAR},
      </if>
      <if test="serviceMetadata != null">
        service_metadata = #{serviceMetadata,jdbcType=VARCHAR},
      </if>
      <if test="service != null">
        service = #{service,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=INTEGER},
      </if>
      <if test="objectCount != null">
        object_count = #{objectCount,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="tempVolumeId != null">
        temp_volume_id = #{tempVolumeId,jdbcType=VARCHAR},
      </if>
      <if test="tempSnapshotId != null">
        temp_snapshot_id = #{tempSnapshotId,jdbcType=VARCHAR},
      </if>
      <if test="numDependentBackups != null">
        num_dependent_backups = #{numDependentBackups,jdbcType=INTEGER},
      </if>
      <if test="snapshotId != null">
        snapshot_id = #{snapshotId,jdbcType=VARCHAR},
      </if>
      <if test="dataTimestamp != null">
        data_timestamp = #{dataTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="restoreVolumeId != null">
        restore_volume_id = #{restoreVolumeId,jdbcType=VARCHAR},
      </if>
      <if test="encryptionKeyId != null">
        encryption_key_id = #{encryptionKeyId,jdbcType=VARCHAR},
      </if>
      <if test="eeStatus != null">
        ee_status = #{eeStatus,jdbcType=INTEGER},
      </if>
      <if test="eeBp != null">
        ee_bp = #{eeBp,jdbcType=VARCHAR},
      </if>
      <if test="eeUser != null">
        ee_user = #{eeUser,jdbcType=VARCHAR},
      </if>
    </set>
    where cloud_id = #{cloudId,jdbcType=VARCHAR}
      and id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpOsBackups">
    update tbl_cmp_os_backups
    set created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=SMALLINT},
      volume_id = #{volumeId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=VARCHAR},
      host = #{host,jdbcType=VARCHAR},
      availability_zone = #{availabilityZone,jdbcType=VARCHAR},
      display_name = #{displayName,jdbcType=VARCHAR},
      display_description = #{displayDescription,jdbcType=VARCHAR},
      container = #{container,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      fail_reason = #{failReason,jdbcType=VARCHAR},
      service_metadata = #{serviceMetadata,jdbcType=VARCHAR},
      service = #{service,jdbcType=VARCHAR},
      size = #{size,jdbcType=INTEGER},
      object_count = #{objectCount,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=VARCHAR},
      temp_volume_id = #{tempVolumeId,jdbcType=VARCHAR},
      temp_snapshot_id = #{tempSnapshotId,jdbcType=VARCHAR},
      num_dependent_backups = #{numDependentBackups,jdbcType=INTEGER},
      snapshot_id = #{snapshotId,jdbcType=VARCHAR},
      data_timestamp = #{dataTimestamp,jdbcType=TIMESTAMP},
      restore_volume_id = #{restoreVolumeId,jdbcType=VARCHAR},
      encryption_key_id = #{encryptionKeyId,jdbcType=VARCHAR},
      ee_status = #{eeStatus,jdbcType=INTEGER},
      ee_bp = #{eeBp,jdbcType=VARCHAR},
      ee_user = #{eeUser,jdbcType=VARCHAR}
    where cloud_id = #{cloudId,jdbcType=VARCHAR}
      and id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="getBackupIds" resultType="String">
    select id from tbl_cmp_os_backups
    where cloud_id = #{cloudId} and ee_status != -1
  </select>
</mapper>