<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnjoying.justice.cmp.db.mapper.TblCmpOsSubnetsMapper">
  <resultMap id="BaseResultMap" type="com.lnjoying.justice.cmp.db.model.TblCmpOsSubnets">
    <id column="cloud_id" jdbcType="VARCHAR" property="cloudId" />
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="network_id" jdbcType="VARCHAR" property="networkId" />
    <result column="ip_version" jdbcType="INTEGER" property="ipVersion" />
    <result column="cidr" jdbcType="VARCHAR" property="cidr" />
    <result column="gateway_ip" jdbcType="VARCHAR" property="gatewayIp" />
    <result column="enable_dhcp" jdbcType="SMALLINT" property="enableDhcp" />
    <result column="ipv6_ra_mode" jdbcType="VARCHAR" property="ipv6RaMode" />
    <result column="ipv6_address_mode" jdbcType="VARCHAR" property="ipv6AddressMode" />
    <result column="subnetpool_id" jdbcType="VARCHAR" property="subnetpoolId" />
    <result column="standard_attr_id" jdbcType="BIGINT" property="standardAttrId" />
    <result column="segment_id" jdbcType="VARCHAR" property="segmentId" />
    <result column="ee_bp" jdbcType="VARCHAR" property="eeBp" />
    <result column="ee_user" jdbcType="VARCHAR" property="eeUser" />
    <result column="ee_status" jdbcType="INTEGER" property="eeStatus" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="revision_number" jdbcType="BIGINT" property="revisionNumber" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    cloud_id, id, project_id, name, network_id, ip_version, "cidr", gateway_ip, enable_dhcp,
    ipv6_ra_mode, ipv6_address_mode, subnetpool_id, standard_attr_id, segment_id, ee_bp, 
    ee_user, ee_status, created_at, updated_at, description, revision_number
  </sql>
  <select id="selectByExample" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpOsSubnetsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_cmp_os_subnets
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpOsSubnetsKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_cmp_os_subnets
    where cloud_id = #{cloudId,jdbcType=VARCHAR}
      and id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpOsSubnetsKey">
    delete from tbl_cmp_os_subnets
    where cloud_id = #{cloudId,jdbcType=VARCHAR}
      and id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpOsSubnetsExample">
    delete from tbl_cmp_os_subnets
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpOsSubnets">
    insert into tbl_cmp_os_subnets (cloud_id, id, project_id, 
      name, network_id, ip_version,
      "cidr", gateway_ip, enable_dhcp,
      ipv6_ra_mode, ipv6_address_mode, subnetpool_id, 
      standard_attr_id, segment_id, ee_bp, 
      ee_user, ee_status, created_at, 
      updated_at, description, revision_number
      )
    values (#{cloudId,jdbcType=VARCHAR}, #{id,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{networkId,jdbcType=VARCHAR}, #{ipVersion,jdbcType=INTEGER}, 
      #{cidr,jdbcType=VARCHAR}, #{gatewayIp,jdbcType=VARCHAR}, #{enableDhcp,jdbcType=SMALLINT}, 
      #{ipv6RaMode,jdbcType=VARCHAR}, #{ipv6AddressMode,jdbcType=VARCHAR}, #{subnetpoolId,jdbcType=VARCHAR}, 
      #{standardAttrId,jdbcType=BIGINT}, #{segmentId,jdbcType=VARCHAR}, #{eeBp,jdbcType=VARCHAR}, 
      #{eeUser,jdbcType=VARCHAR}, #{eeStatus,jdbcType=INTEGER}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR}, #{revisionNumber,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpOsSubnets">
    insert into tbl_cmp_os_subnets
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cloudId != null">
        cloud_id,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="networkId != null">
        network_id,
      </if>
      <if test="ipVersion != null">
        ip_version,
      </if>
      <if test="cidr != null">
        "cidr",
      </if>
      <if test="gatewayIp != null">
        gateway_ip,
      </if>
      <if test="enableDhcp != null">
        enable_dhcp,
      </if>
      <if test="ipv6RaMode != null">
        ipv6_ra_mode,
      </if>
      <if test="ipv6AddressMode != null">
        ipv6_address_mode,
      </if>
      <if test="subnetpoolId != null">
        subnetpool_id,
      </if>
      <if test="standardAttrId != null">
        standard_attr_id,
      </if>
      <if test="segmentId != null">
        segment_id,
      </if>
      <if test="eeBp != null">
        ee_bp,
      </if>
      <if test="eeUser != null">
        ee_user,
      </if>
      <if test="eeStatus != null">
        ee_status,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="revisionNumber != null">
        revision_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cloudId != null">
        #{cloudId,jdbcType=VARCHAR},
      </if>
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="networkId != null">
        #{networkId,jdbcType=VARCHAR},
      </if>
      <if test="ipVersion != null">
        #{ipVersion,jdbcType=INTEGER},
      </if>
      <if test="cidr != null">
        #{cidr,jdbcType=VARCHAR},
      </if>
      <if test="gatewayIp != null">
        #{gatewayIp,jdbcType=VARCHAR},
      </if>
      <if test="enableDhcp != null">
        #{enableDhcp,jdbcType=SMALLINT},
      </if>
      <if test="ipv6RaMode != null">
        #{ipv6RaMode,jdbcType=VARCHAR},
      </if>
      <if test="ipv6AddressMode != null">
        #{ipv6AddressMode,jdbcType=VARCHAR},
      </if>
      <if test="subnetpoolId != null">
        #{subnetpoolId,jdbcType=VARCHAR},
      </if>
      <if test="standardAttrId != null">
        #{standardAttrId,jdbcType=BIGINT},
      </if>
      <if test="segmentId != null">
        #{segmentId,jdbcType=VARCHAR},
      </if>
      <if test="eeBp != null">
        #{eeBp,jdbcType=VARCHAR},
      </if>
      <if test="eeUser != null">
        #{eeUser,jdbcType=VARCHAR},
      </if>
      <if test="eeStatus != null">
        #{eeStatus,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="revisionNumber != null">
        #{revisionNumber,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpOsSubnetsExample" resultType="java.lang.Long">
    select count(*) from tbl_cmp_os_subnets
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_cmp_os_subnets
    <set>
      <if test="record.cloudId != null">
        cloud_id = #{record.cloudId,jdbcType=VARCHAR},
      </if>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.projectId != null">
        project_id = #{record.projectId,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.networkId != null">
        network_id = #{record.networkId,jdbcType=VARCHAR},
      </if>
      <if test="record.ipVersion != null">
        ip_version = #{record.ipVersion,jdbcType=INTEGER},
      </if>
      <if test="record.cidr != null">
        "cidr" = #{record.cidr,jdbcType=VARCHAR},
      </if>
      <if test="record.gatewayIp != null">
        gateway_ip = #{record.gatewayIp,jdbcType=VARCHAR},
      </if>
      <if test="record.enableDhcp != null">
        enable_dhcp = #{record.enableDhcp,jdbcType=SMALLINT},
      </if>
      <if test="record.ipv6RaMode != null">
        ipv6_ra_mode = #{record.ipv6RaMode,jdbcType=VARCHAR},
      </if>
      <if test="record.ipv6AddressMode != null">
        ipv6_address_mode = #{record.ipv6AddressMode,jdbcType=VARCHAR},
      </if>
      <if test="record.subnetpoolId != null">
        subnetpool_id = #{record.subnetpoolId,jdbcType=VARCHAR},
      </if>
      <if test="record.standardAttrId != null">
        standard_attr_id = #{record.standardAttrId,jdbcType=BIGINT},
      </if>
      <if test="record.segmentId != null">
        segment_id = #{record.segmentId,jdbcType=VARCHAR},
      </if>
      <if test="record.eeBp != null">
        ee_bp = #{record.eeBp,jdbcType=VARCHAR},
      </if>
      <if test="record.eeUser != null">
        ee_user = #{record.eeUser,jdbcType=VARCHAR},
      </if>
      <if test="record.eeStatus != null">
        ee_status = #{record.eeStatus,jdbcType=INTEGER},
      </if>
      <if test="record.createdAt != null">
        created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedAt != null">
        updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.revisionNumber != null">
        revision_number = #{record.revisionNumber,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_cmp_os_subnets
    set cloud_id = #{record.cloudId,jdbcType=VARCHAR},
      id = #{record.id,jdbcType=VARCHAR},
      project_id = #{record.projectId,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      network_id = #{record.networkId,jdbcType=VARCHAR},
      ip_version = #{record.ipVersion,jdbcType=INTEGER},
      "cidr" = #{record.cidr,jdbcType=VARCHAR},
      gateway_ip = #{record.gatewayIp,jdbcType=VARCHAR},
      enable_dhcp = #{record.enableDhcp,jdbcType=SMALLINT},
      ipv6_ra_mode = #{record.ipv6RaMode,jdbcType=VARCHAR},
      ipv6_address_mode = #{record.ipv6AddressMode,jdbcType=VARCHAR},
      subnetpool_id = #{record.subnetpoolId,jdbcType=VARCHAR},
      standard_attr_id = #{record.standardAttrId,jdbcType=BIGINT},
      segment_id = #{record.segmentId,jdbcType=VARCHAR},
      ee_bp = #{record.eeBp,jdbcType=VARCHAR},
      ee_user = #{record.eeUser,jdbcType=VARCHAR},
      ee_status = #{record.eeStatus,jdbcType=INTEGER},
      created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
      description = #{record.description,jdbcType=VARCHAR},
      revision_number = #{record.revisionNumber,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpOsSubnets">
    update tbl_cmp_os_subnets
    <set>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="networkId != null">
        network_id = #{networkId,jdbcType=VARCHAR},
      </if>
      <if test="ipVersion != null">
        ip_version = #{ipVersion,jdbcType=INTEGER},
      </if>
      <if test="cidr != null">
        "cidr" = #{cidr,jdbcType=VARCHAR},
      </if>
      <if test="gatewayIp != null">
        gateway_ip = #{gatewayIp,jdbcType=VARCHAR},
      </if>
      <if test="enableDhcp != null">
        enable_dhcp = #{enableDhcp,jdbcType=SMALLINT},
      </if>
      <if test="ipv6RaMode != null">
        ipv6_ra_mode = #{ipv6RaMode,jdbcType=VARCHAR},
      </if>
      <if test="ipv6AddressMode != null">
        ipv6_address_mode = #{ipv6AddressMode,jdbcType=VARCHAR},
      </if>
      <if test="subnetpoolId != null">
        subnetpool_id = #{subnetpoolId,jdbcType=VARCHAR},
      </if>
      <if test="standardAttrId != null">
        standard_attr_id = #{standardAttrId,jdbcType=BIGINT},
      </if>
      <if test="segmentId != null">
        segment_id = #{segmentId,jdbcType=VARCHAR},
      </if>
      <if test="eeBp != null">
        ee_bp = #{eeBp,jdbcType=VARCHAR},
      </if>
      <if test="eeUser != null">
        ee_user = #{eeUser,jdbcType=VARCHAR},
      </if>
      <if test="eeStatus != null">
        ee_status = #{eeStatus,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="revisionNumber != null">
        revision_number = #{revisionNumber,jdbcType=BIGINT},
      </if>
    </set>
    where cloud_id = #{cloudId,jdbcType=VARCHAR}
      and id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpOsSubnets">
    update tbl_cmp_os_subnets
    set project_id = #{projectId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      network_id = #{networkId,jdbcType=VARCHAR},
      ip_version = #{ipVersion,jdbcType=INTEGER},
      "cidr" = #{cidr,jdbcType=VARCHAR},
      gateway_ip = #{gatewayIp,jdbcType=VARCHAR},
      enable_dhcp = #{enableDhcp,jdbcType=SMALLINT},
      ipv6_ra_mode = #{ipv6RaMode,jdbcType=VARCHAR},
      ipv6_address_mode = #{ipv6AddressMode,jdbcType=VARCHAR},
      subnetpool_id = #{subnetpoolId,jdbcType=VARCHAR},
      standard_attr_id = #{standardAttrId,jdbcType=BIGINT},
      segment_id = #{segmentId,jdbcType=VARCHAR},
      ee_bp = #{eeBp,jdbcType=VARCHAR},
      ee_user = #{eeUser,jdbcType=VARCHAR},
      ee_status = #{eeStatus,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR},
      revision_number = #{revisionNumber,jdbcType=BIGINT}
    where cloud_id = #{cloudId,jdbcType=VARCHAR}
      and id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="getSubnetIds" resultType="String">
    select id from tbl_cmp_os_subnets
    where cloud_id = #{cloudId} and ee_status != -1
  </select>

  <select id="selectByExampleWithShared" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpOsSubnetsExample" resultMap="BaseResultMap">
    select
    <if test="example.distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_cmp_os_subnets t1
    left join
    (select id as networkid from tbl_cmp_os_networks
    where cloud_id = #{cloudId}  and ee_status != -1
    <if test="projectId != null or userId != null">
      and ((is_default is not null) or (shared = 1) or (
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=VARCHAR}
      </if>
      <if test="projectId != null and userId != null">
        and
      </if>
      <if test="userId != null">
        ee_user = #{userId,jdbcType=VARCHAR}
      </if>
      ))
    </if>)
    t2 on t1.network_id = t2.networkid
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
  </select>
</mapper>