<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnjoying.justice.cmp.db.mapper.TblCmpEsFirewallBindingsMapper">
  <resultMap id="BaseResultMap" type="com.lnjoying.justice.cmp.db.model.TblCmpEsFirewallBindings">
    <id column="cloud_id" jdbcType="VARCHAR" property="cloudId" />
    <id column="firewall_id" jdbcType="VARCHAR" property="firewallId" />
    <id column="router_id" jdbcType="VARCHAR" property="routerId" />
    <result column="ee_status" jdbcType="INTEGER" property="eeStatus" />
    <result column="ee_bp" jdbcType="VARCHAR" property="eeBp" />
    <result column="ee_user" jdbcType="VARCHAR" property="eeUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    cloud_id, firewall_id, router_id, ee_status, ee_bp, ee_user
  </sql>
  <select id="selectByExample" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpEsFirewallBindingsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_cmp_es_firewall_bindings
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpEsFirewallBindingsKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_cmp_es_firewall_bindings
    where cloud_id = #{cloudId,jdbcType=VARCHAR}
      and firewall_id = #{firewallId,jdbcType=VARCHAR}
      and router_id = #{routerId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpEsFirewallBindingsKey">
    delete from tbl_cmp_es_firewall_bindings
    where cloud_id = #{cloudId,jdbcType=VARCHAR}
      and firewall_id = #{firewallId,jdbcType=VARCHAR}
      and router_id = #{routerId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpEsFirewallBindingsExample">
    delete from tbl_cmp_es_firewall_bindings
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpEsFirewallBindings">
    insert into tbl_cmp_es_firewall_bindings (cloud_id, firewall_id, router_id, 
      ee_status, ee_bp, ee_user
      )
    values (#{cloudId,jdbcType=VARCHAR}, #{firewallId,jdbcType=VARCHAR}, #{routerId,jdbcType=VARCHAR}, 
      #{eeStatus,jdbcType=INTEGER}, #{eeBp,jdbcType=VARCHAR}, #{eeUser,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpEsFirewallBindings">
    insert into tbl_cmp_es_firewall_bindings
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cloudId != null">
        cloud_id,
      </if>
      <if test="firewallId != null">
        firewall_id,
      </if>
      <if test="routerId != null">
        router_id,
      </if>
      <if test="eeStatus != null">
        ee_status,
      </if>
      <if test="eeBp != null">
        ee_bp,
      </if>
      <if test="eeUser != null">
        ee_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cloudId != null">
        #{cloudId,jdbcType=VARCHAR},
      </if>
      <if test="firewallId != null">
        #{firewallId,jdbcType=VARCHAR},
      </if>
      <if test="routerId != null">
        #{routerId,jdbcType=VARCHAR},
      </if>
      <if test="eeStatus != null">
        #{eeStatus,jdbcType=INTEGER},
      </if>
      <if test="eeBp != null">
        #{eeBp,jdbcType=VARCHAR},
      </if>
      <if test="eeUser != null">
        #{eeUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpEsFirewallBindingsExample" resultType="java.lang.Long">
    select count(*) from tbl_cmp_es_firewall_bindings
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_cmp_es_firewall_bindings
    <set>
      <if test="record.cloudId != null">
        cloud_id = #{record.cloudId,jdbcType=VARCHAR},
      </if>
      <if test="record.firewallId != null">
        firewall_id = #{record.firewallId,jdbcType=VARCHAR},
      </if>
      <if test="record.routerId != null">
        router_id = #{record.routerId,jdbcType=VARCHAR},
      </if>
      <if test="record.eeStatus != null">
        ee_status = #{record.eeStatus,jdbcType=INTEGER},
      </if>
      <if test="record.eeBp != null">
        ee_bp = #{record.eeBp,jdbcType=VARCHAR},
      </if>
      <if test="record.eeUser != null">
        ee_user = #{record.eeUser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_cmp_es_firewall_bindings
    set cloud_id = #{record.cloudId,jdbcType=VARCHAR},
      firewall_id = #{record.firewallId,jdbcType=VARCHAR},
      router_id = #{record.routerId,jdbcType=VARCHAR},
      ee_status = #{record.eeStatus,jdbcType=INTEGER},
      ee_bp = #{record.eeBp,jdbcType=VARCHAR},
      ee_user = #{record.eeUser,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpEsFirewallBindings">
    update tbl_cmp_es_firewall_bindings
    <set>
      <if test="eeStatus != null">
        ee_status = #{eeStatus,jdbcType=INTEGER},
      </if>
      <if test="eeBp != null">
        ee_bp = #{eeBp,jdbcType=VARCHAR},
      </if>
      <if test="eeUser != null">
        ee_user = #{eeUser,jdbcType=VARCHAR},
      </if>
    </set>
    where cloud_id = #{cloudId,jdbcType=VARCHAR}
      and firewall_id = #{firewallId,jdbcType=VARCHAR}
      and router_id = #{routerId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lnjoying.justice.cmp.db.model.TblCmpEsFirewallBindings">
    update tbl_cmp_es_firewall_bindings
    set ee_status = #{eeStatus,jdbcType=INTEGER},
      ee_bp = #{eeBp,jdbcType=VARCHAR},
      ee_user = #{eeUser,jdbcType=VARCHAR}
    where cloud_id = #{cloudId,jdbcType=VARCHAR}
      and firewall_id = #{firewallId,jdbcType=VARCHAR}
      and router_id = #{routerId,jdbcType=VARCHAR}
  </update>

  <select id="getFirewallBindingIds" resultType="String">
    select router_id from tbl_cmp_es_firewall_bindings
    where cloud_id = #{cloudId} and firewall_id = #{firewallId} and ee_status != -1
  </select>
</mapper>